@media only screen and (max-width: 1600px) {
  #my_name {
    font-size: 220%;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-left: 15%;
  }
  .footer-section p {
    margin-right: 15%;
  }
}
/*Big tablet to 1200px (widths smaller than 1140px row)*/
@media only screen and (max-width: 1140px) {
  /*SIDE NAV */
  /*ICONS*/
  .social-links {
    font-size: 80%;
  }

  /*FOOTER*/
  .footer-section p {
    font-size: 80%;
    margin-right: 5%;
  }
  /*HOME*/
  .background-cover-box {
    margin-left: 12%;
    width: 100vh;
  }
  #my_name {
    font-size: 230%;
    word-spacing: 2px;
    letter-spacing: 2px;
  }
}

/*Small tablet to big tablet: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
  /*SIDE NAV */
  #sidenav {
    width: 120px;
  }

  #sidenav a {
    font-size: 25px;
  }
  /*ICONS*/
  .social-links {
    font-size: 60%;
  }

  /*FOOTER*/
  .footer-section p {
    font-size: 20%;
    margin-right: 10%;
  }
  /*HOME*/
  #my_name {
    font-size: 150%;
    word-spacing: 2px;
    letter-spacing: 2px;
  }
  .background-cover-box {
    margin-left: 0%;
    max-width: 30vh;
  }

  /* DANCE */
  .subscribe {
    margin-left: 5%;
    padding: 5px 5px;
    font-size: 80%;
    margin-bottom: 5%;
  }
  #insta-feed {
    width: 75%;
  }
  #dance_header {
    margin-top: 8%;
    font-size: 150%;
  }
  /*CONTACT*/
  #contact-wrap {
    padding-top: 10%;
    margin-bottom: 35%;
  }
  #contact_header {
    font-size: 150%;
  }
  #submit_button,
  #reset_button {
    padding: 10px 12px;
    font-size: 80%;
  }
}

/*Small phones to small tablets: from 481px to 767px*/

@media only screen and (max-width: 767px) {
  /*SIDE NAV */
  #sidenav {
    width: 120px;
  }

  #sidenav a {
    font-size: 25px;
  }
  /*ICONS*/
  .social-links {
    font-size: 60%;
  }

  /*FOOTER*/
  .footer-section p {
    font-size: 20%;
    margin-left: 15%;
  }
  /*HOME*/
  #my_name {
    font-size: 100%;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-left: 25%;
  }
  .background-cover-box {
    margin-left: 0%;
    max-width: 30vh;
  }

  #section-about-me {
    font-size: 90%;
    margin-left: 10%;
  }
  #me-img {
    margin-right: 5%;
    margin-left: 45%;
  }
  #resume-btn {
    padding: 5px 5px;
    margin-right: -10%;
  }
  /* DANCE */
  .subscribe {
    margin-left: 15%;
    padding: 5px 5px;
    font-size: 80%;
    margin-bottom: 5%;
  }
  #insta-feed {
    width: 60%;
    padding-left: 5%;
  }
  #dance_header {
    margin-top: 8%;
    font-size: 150%;
  }
  /*CONTACT*/
  #contact-wrap {
    padding-top: 20%;
    margin-bottom: 35%;
  }
  #contact_header {
    font-size: 150%;
  }
  #submit_button,
  #reset_button {
    padding: 8px 10px;
    font-size: 80%;
  }
}

/*Small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {
  /*SIDE NAV */
  #sidenav {
    width: 90px;
  }

  #sidenav a {
    font-size: 15px;
  }

  /*FOOTER */
  .footer-section p {
    font-size: 10%;
    margin-left: 10%;
  }

  /*HOME*/
  .background-cover-box {
    margin-left: 0%;
    max-width: 10vh;
  }
  .social-links {
    font-size: 50%;
    margin-bottom: 2%;
  }

  #my_name {
    font-size: 70%;
    word-spacing: 0px;
    letter-spacing: 0px;
  }

  #me-img {
    margin-right: 25%;
    margin-left: 42%;
  }
  #section-about-me {
    font-size: 60%;
    margin-left: 10%;
  }
  #resume-btn {
    padding: 5px 5px;
    font-size: 80%;
    margin-right: -6%;
  }
  /*PORTFOLIO*/
  h1 {
    margin-left: 6%;
  }
  hr {
    width: 60%;
    margin-right: 18%;
  }
  .welcome-note {
    margin-left: 12%;
  }
  #collapsible-content {
    margin-left: 4%;
    margin-bottom: 35%;
  }
  /*DANCE*/
  .subscribe {
    margin-left: 12%;
    padding: 5px 5px;
    font-size: 80%;
    margin-bottom: 5%;
  }
  .dance-round {
    margin-top: 8%;
  }
  #dance_para {
    margin-left: 10%;
    font-size: 50%;
  }
  #insta-feed {
    width: 50%;
    padding-left: 10%;
  }
  #dance_header {
    margin-top: 8%;
    margin-left: 8%;
    font-size: 130%;
  }
  /*CONTACT*/
  #submit_button,
  #reset_button {
    padding: 5px 5px;
    font-size: 80%;
  }
  #portfolio-btn {
    padding: 10px 10px;
    font-size: 50%;
  }
}
