/*--------------------------------------------------*/
/*HEADER*/
/*--------------------------------------------------*/
section {
  padding: 50px 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(/images/real-cover.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.background-cover-box {
  top: 50%;
  left: 50%;
  width: 130vh;
  position: absolute;
  -webkit-transform: translate(-70%, -70%);
  -ms-transform: translate(-70%, -70%);
  transform: translate(-70%, -70%);
}
/*----HEADINGS------*/

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 6px;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*--------------------------------------------------*/
/*ABOUT ME */
/*--------------------------------------------------*/

.section-about-me {
  background-color: #f4f4f4;
  color: #000;
}
.section-about-me p {
  color: #000;
  text-align: center;
  margin-left: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.section-about-me img {
  border-radius: 50%;
  display: block;
  margin-right: 1.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  width: 20%;
}
