// The main container element
.Collapsible {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 5px;
  font-size: 20px;
}

//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    background-color: rgb(34, 109, 230);
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    border: none;
    margin-right: 2%;
  }
  .btn:hover {
    background-color: blue;
    color: white;
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  background: rgb(121, 121, 121);
  color: white;

  &:after {
    content: "\02795";
    font-size: 13px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    float: right;
    margin-left: 5px;
  }

  &.is-open {
    &:after {
      content: "\2796";
    }
  }
}
