// The main container element
.Collapsible {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 5px;
  font-size: 20px;
}

//The content within the collaspable area
.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  border-top: 0;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    background-color: rgb(34, 109, 230);
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    margin-right: 2%;
    border: 3px solid black;
  }
  .btn:hover {
    background-color: blue;
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid black;
  padding: 10px;
  background: rgb(121, 121, 121);
  color: white;

  &:after {
    content: "\02795";
    font-size: 13px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    float: right;
    margin-left: 5px;
  }

  &.is-open {
    &:after {
      content: "\2796";
    }
  }
}

@media only screen and (max-width: 767px) {
  .Collapsible__trigger {
    font-size: 12px;
    &:after {
      content: "\02795";
      font-size: 8px;
      margin-left: 5px;
    }
  }
  .Collapsible {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  #portfolio-btn {
    padding: 10px;
    margin: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .Collapsible__trigger {
    font-size: 8px;
    &:after {
      content: "\02795";
      font-size: 6px;
      margin-left: 5px;
    }
  }
  .Collapsible {
    margin-left: -10px;
  }
  #portfolio-btn {
    padding: 10px;
    margin: 10px;
  }

  .Collapsible__contentInner {
    p {
      margin-bottom: 10px;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      margin-left: -3px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
